* {
    font-family: 'Roboto', sans-serif;
}
header {
    position: relative;
}
nav {
    height: 50px;
    background: #212121;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}
.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}
.subheader {
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    width: 100%;
}
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}
.subheader .subheader_oficial {
    margin-top: 6px;
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    color: #FFFFFF;
}
.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 24px;
    text-align: right;
}
.subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 6px;
    text-align: right;
    text-decoration: none;
}
.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-top: 21px;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png')center center/cover no-repeat;
    padding: 150px 0 135px 0;
}
.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 22px;
    text-align: center;
}
.promo .promo_descr {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    margin-top: 16px;

}
.promo .promo_btn {
    display: block;
    margin: 115px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 63px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.work {
    min-height: 849px;
    padding-top: 18px;
}
.work .work_btn {
    display: block;
    margin: 0 auto;
    width: 115px;
    height: 27px;
    background: #000000;
    font-weight: 300;
    font-size: 11px;
    line-height: 11px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.work .work_header {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 25px;
}
.work .work_icon {
    margin-top: 40px;
    border-radius: 100%;
    width: 116px;
    height: 116px;
    background: #1EACC7;
}
.work .work_img {
    display: block;
    margin: 0 auto;
    padding-top: 26px;
}
.work .work_subheader {
    margin-top: 24px;
    font-weight:400;
    font-size: 17px;
    align-items: center;
    color: #1EACC7;
}
.work .work_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    color: #202020;

}